.ticker {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .ticker-item {
    padding-right: 20px; /* Adjust as needed */
    animation: ticker-animation 60s linear infinite; /* Adjust the animation duration */
  }
  
  /* @keyframes ticker-animation {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
   */